div.perfil-parent {
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

div.perfil {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1300px;
    padding: 10px 10px;
    width: 100%;
    background-color: #121212;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(30,30,30,1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(30,30,30,1);
    box-shadow: 0px 0px 5px 0px rgba(30,30,30,1);
}

div.perfil-form {
    width: 100%;
}
div.perfil-form label {
    font-size: 14px;
    color: #f8f8f8;
}

div.perfil-form .custom-file {
    margin-top: 10px;
}

div.perfil-form input,
div.perfil-form select {
    font-size: 14px;
    background-color: transparent;
    border: 1px solid #303030;
    color: #f8f8f8;
    border-radius: 10px;
    height: 35px;
    width: 100%;
    padding-left: 3px;
    outline: none;
}

div.perfil-form button {
    margin-top: 20px;
    background: linear-gradient(135deg, #6e8efb, #a777e3);
    color: #fff;
}

div.perfil-form button:hover {
    color: #4d4d4d;
    transform: scale(1.10);
    transition: .4s;
}

@media screen and (max-width:1250px){
    div.perfil-parent {
        padding: 3px 1px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: auto;
    }
    div.perfil {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        padding: 10px;
        width: 100%;
        border-radius: 10px;
        background-color: #121212;
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);

    }
    div.perfil-form {   
        padding-bottom: 1px;
        margin-top: 1px;
        width: 100%;
    }
    div.perfil-form button {
        margin-top: 5px;
        width: 100% ;
    }
    div.perfil-form button {
        margin-top: 20px;
        width: 80px;
        background: linear-gradient(135deg, #6e8efb, #a777e3);
        color: #fff;
    }
    
}

@media screen and (max-width:769px){
    div.perfil-form button {
        margin-top: 20px;
        width: 100%;
        background: linear-gradient(135deg, #6e8efb, #a777e3);
        color: #fff;
    }
}