.register-parent {
    height: 100%;
    padding: 0 2%;
    background: #151515;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 600px;
}

.register {
    width: 100%;
    border-radius: 20px;
    max-width: 600px;
    padding: 20px 20px 30px 20px;
    background-color: #121212;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(30,30,30,1);
-moz-box-shadow: 0px 0px 5px 0px rgba(30,30,30,1);
box-shadow: 0px 0px 5px 0px rgba(30,30,30,1);
}

.register-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #f8f8f8;
}

.register-title img {
    width: 50px;
    height: 50px;
}

.register-title h2 {
    font-size: 20px;
}

.label_register {
    font-size: 14px;
    color: #f8f8f8;
    padding: 5px;
}

.register button {
    margin-top: 15px;
    background: linear-gradient(135deg, #6e8efb, #a777e3);
    color: #fff;
    font-size: 18px;
    width: 100%;
    display: block;
    border: none;
    border-radius: 15px;
}

.register button:hover {
    color: #fff;
    transform: scale(1.05);
    transition: all ease .2s;
}

.register-input{
    display: flex;
    flex-direction: column;
}

.register-input select{
    background-color: transparent;
}
.register-input option{
    background-color: #151515;
}

.input-register{
    font-size: 16px;
    background-color: transparent;
    border: 1px solid #303030;
    color: #f8f8f8;
    border-radius: 10px;
    height: 35px;
    width: 100%;
    padding-left: 5px;
    outline: none;

}
.input-register-erro{
    font-size: 16px;
    background-color: transparent;
    border: 1px solid red;
    color: #f8f8f8;
    border-radius: 10px;
    height: 35px;
    width: 100%;
    padding-left: 3px;
    outline: none;
}
.msg{
    margin-top: 5px;
    margin-bottom: 0px;
    color: green;
    font-size:large;
}
.erro-text{
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 0px;
    color: red;
    font-size:large;
}
.p-buttom{
    color: white;
    margin-top: 15px;
    text-align: center;
    opacity: 0.7;
}
.p-buttom a{
    color:#6e8efb;
    margin-top: 2px;
    text-decoration: none;
    margin-left: 5px;
    font-size: 16px;
}
.p-buttom a:hover{
    color:#a777e3;
    margin-top: 2px;
    text-decoration: none;
    margin-left: 5px;
    font-size: 16px;
}

.custom-checkbox-register {
    margin-top: 10px;
    padding-left: 2px;
}

.custom-checkbox-register input {
    display: none;
}

.custom-checkbox-register label {
    color: #fff;
}

.custom-checkbox-register input + label:before {
    content: '';
    width: 18px;
    height: 18px;
    border-radius: 6px;
    background-color:transparent;
    border: 1px solid #6e8efb;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    margin-bottom: 3px;
  }
  
.custom-checkbox-register input:checked + label:before {
background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 10 10'%3E%3Cg class='nc-icon-wrapper' stroke-width='1' fill='%23555555'%3E%3Cpath fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' data-cap='butt' d='M2.83 4.72l1.58 1.58 2.83-2.83'/%3E%3C/g%3E%3C/svg%3E");
background-color:#a777e3;
background-position: center;
border: none;
padding: 1px;
}

