.register-parent {
    height: 100%;
    padding: 0 2%;
    background: #151515;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 600px;
}

.register {
    width: 100%;
    max-width: 600px;
    padding: 20px 20px 30px 20px;
    background-color: #121212;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(30,30,30,1);
-moz-box-shadow: 0px 0px 5px 0px rgba(30,30,30,1);
box-shadow: 0px 0px 5px 0px rgba(30,30,30,1);
}

.register-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #f8f8f8;
}

.register-title img {
    width: 50px;
    height: 50px;
    animation-name: examplo;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-delay: 0.2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.register-title h2 {
    font-size: 20px;
}

.label_register {
    font-size: 14px;
    color: #f8f8f8;
    padding: 5px;
}

.register button {
    margin-top: 15px;
    background: linear-gradient(135deg, #6e8efb, #a777e3);
    color: #fff;
    width: 100%;
    display: block;
    border: none;
}

.register button:hover {
    color: #fff;
    border: none;
    transform: scale(1.05);
    transition: .2s;
    font-size: 16px;
}

.register-input{
    display: flex;
    flex-direction: column;
}

.input-register{
    font-size: 14px;
    background-color: transparent;
    border: 1px solid #303030;
    color: #f8f8f8;
    border-radius: 10px;
    height: 35px;
    width: 100%;
    padding-left: 3px;
    outline: none;
}
.alert-msg{
    margin-top: 5px;
    margin-bottom: 0px;
}