<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/all.css">
    <link rel="stylesheet" href="../plugins/bootstrap-5.1.3-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/fontawesome-free-6.1.1-web/css/all.min.css">
    <link rel="icon" href="/images/Heart.png" >
    <title>health Track</title>
</head>

<body>
    <div class="flex-dashboard">
        <sidebar id="sidebar">
            <div class="sidebar-title">
                <a href="/views/dashboard.html"><img src="../images/Heart.png" alt="image"></a>
                <h2>Health Track</h2>
            </div>
            <div class="menu">
                <ul>
                    <li>
                        <i class="fa-solid fa-house-chimney"></i>
                        <a href="dashboard.html"> Dashboard</a>
                    </li>
                    <li class="selected">
                        <i class="fa-solid fa-user"></i>
                        <a href="perfil.html"> Perfil </a>
                    </li>
                    <li>
                        <i class="fa-solid fa-scale-unbalanced"></i>
                        <a href="GerenciarPeso.html"> Gerenciar Peso e altura</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-heart-pulse"></i>
                        <a href="GerenciarPressao.html"> gerenciar Pressão arterial</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-person-skating"></i>
                        <a href="GerenciarAtividade.html"> Gerenciar atividades físicas</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-utensils"></i>
                        <a href="GerenciarAlimentos.html"> Gerenciar alimentos</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-calculator"></i>
                        <a href="CalcularIMC.html"> Calcular IMC</a>
                    </li>
                    <li class="sidebar_logout">
                        <i  class="fa-solid fa-arrow-right-from-bracket "></i>
                        <a class="logout-txt" id="logout-button" onclick="AmostraPopUp()">Logout</a>
                    </li>
                </ul>
            </div>
        </sidebar>
        <main  id="main-content">
            <header>
                <div class="imgIcon">
                    <img src="/images/Heart.png" alt="coracao">
                    <h2>Health Track</h2>
                </div>
                <i id="iconMenu" onclick="responsiveSiderbar()" class="fas fa-bars "></i>
                <a class="logount" id="Logout_header" onclick="AmostraPopUp()"><i class="fa-solid fa-arrow-right-from-bracket "></i> logout</a>
            </header>
            <div class="main-content">
                <div class="main-content-title">
                    <h2>Perfil</h2>
                </div>
            <div class="perfil-parent">
                <div class="perfil">
                    <div class="perfil-form">
                        <form id="form-perfil">
                            <div class="perfil-input">
                                <label class="label_register">Nome</label>
                                <input type="text" class="input-register" id="input-Nome" oninput="validaInputNome()" placeholder="Nome Completo" value="" required/>
                            </div>
                            <div class="perfil-input">
                                <label class="label_register">Idade</label>
                                <input type="text" class="input-register" id="input-Idade" oninput="validaInputIdade()" placeholder="Idade" value="" required/>
                            </div>
                            <div class="perfil-input">
                                <label for="genre" class="label_register">Gênero</label>
                                <select class="input-register"  id="genero" oninput="validaGenero()">
                                    <option value="Masculino">Masculino</option>
                                    <option value="Feminino">Feminino</option>
                                    <option value="outros">Outros</option>
                                </select>
                            </div>
                            <div class="perfil-input">
                                <label class="label_register">Email</label>
                                <input type="email" class="input-register" id="input-email" oninput="validaInputEmail()" placeholder="Email" value='' required/>
                            </div>
                            <div class="perfil-input">
                                <label class="label_register">Senha</label>
                                <input type="password" class="input-register" placeholder="Senha" oninput="validaInputSenha()" id="input-senha" value='' required/>
                            </div>
                            <div class="custom-checkbox-register">
                                <input id="checkbox-1" class="checkbox-1" type="checkbox" onclick=mostraSenha()>
                                <label for="checkbox-1">Mostrar senha</label>
                            </div>
                            <div id="alert-msg" class="msg"></div>
                            <div class="buttons">
                                <button id="btn-salva" type="button" class="btn-salva">Salvar</button>
                                <button id="btn-excluir-conta" class="btn-excluir-conta">Excluir conta</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="popup-wrapper-logount">
                <div class="popup">
                  <div class="popup-close">X</div>
                  <div class="popup-content">
                      <h2>Deseja realmente sair da conta?</h2>
                      <div class="popup-buttons">
                        <button id="btn-popup-sim" class="btnPopupSim">Sim</button>
                        <button id="btn-popup-nao" class="btnPopupNao">Nao</button>
                      </div>
                  </div>
                </div>
            </div>
            <div class="popup-wrapper">
                <div class="popup">
                  <div class="popup-close">X</div>
                  <div class="popup-content">
                      <h2>Deseja realmente excluir a conta?</h2>
                      <div class="popup-buttons">
                        <button id="btn-popup-sim" class="btnPopupSim">Sim</button>
                        <button id="btn-popup-nao" class="btnPopupNao">Nao</button>
                      </div>
                  </div>
                  </div>
                </div>
            </div>
        </div>
        </main>
        </div>
    </div>
    <script src="../plugins/bootstrap-5.1.3-dist/js/bootstrap.min.js "></script>
    <script src="../plugins/fontawesome-free-6.1.1-web/js/all.min.js "></script>
    <script defer src="../js/menu.js"></script>
    <script defer src="/js/perfil.js"></script>
</body>
</html>